@model Travel_Trip_Project.Models.Classes.blog

@{
    ViewBag.Title = "UpdateBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Blog Güncelleme</h2>
<br />
@using (Html.BeginForm("UpdateBlog", "Admin", FormMethod.Post))
{
    <label>ID :</label>
    @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <label>Başlık :</label>
    @Html.TextBoxFor(x => x.title, new { @class = "form-control" })
    <br />
    <label>Tarih :</label>
    @Html.TextBoxFor(x => x.date, new { @class = "form-control" })
    <br />
    <label>Resim URL :</label>
    @Html.TextBoxFor(x => x.blogImage, new { @class = "form-control" })
    <br />
    <label>Açıklama :</label>
    @Html.TextAreaFor(x => x.description, 15, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Bloğu Güncelle</button>
}