@model Travel_Trip_Project.Models.Classes.blogComment
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <style>
        .blog-date {
            font-weight: 300;
            margin-left: 6px;
            opacity: 0.7;
        }
        .pagination-container {
            text-align: center;
            margin-top: 20px;
        }

        .pagination > li > a,
        .pagination > li > span {
            color: #e74c3c;
            border: 1px solid #e74c3c;
            margin: 0 2px;
            border-radius: 3px;
            font-family: 'Oswald', sans-serif;
            letter-spacing: 1px;
        }

            .pagination > li > a:hover {
                background-color: #e74c3c;
                color: #fff;
                border-color: #e74c3c;
            }

        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover {
            background-color: #e74c3c;
            border-color: #e74c3c;
            color: #fff;
            font-weight: bold;
        }

        .pagination > .disabled > a,
        .pagination > .disabled > span {
            color: #ccc;
            border-color: #ccc;
        }
    </style>
</head>
<body>
    <!---header---->
    <div class="header">
        <div class="container">
            <div class="clearfix"></div>
        </div>
    </div>
    <!--/header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">
                @foreach (var x in Model.value1)
                {
                    <div class="single-grid">
                        <img src="@x.blogImage" alt="" style="margin-bottom:20px" />
                        <h4>
                            <a href="/Blog/BlogDetails/@x.id">@x.title</a>
                            <span class="blog-date">
                                @x.date.ToShortDateString()
                            </span>
                        </h4>
                        <p>
                            @x.description.Substring(0, 150)...
                            <a href="/Blog/BlogDetails/@x.id"><span></span>READ MORE</a>
                        </p>
                    </div>
                    <br /><br />
                }
            <div class="pagination-container">
                @Html.PagedListPager(Model.value1, page => Url.Action("Index", new { page }),
                        new PagedListRenderOptions
                        {
                            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                            DisplayLinkToNextPage = PagedListDisplayMode.Always,
                            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                            DisplayLinkToLastPage = PagedListDisplayMode.Never,
                            MaximumPageNumbersToDisplay = 5
                        })
            </div>
            </div>

            <div class="col-md-4 side-content">
                <div class="recent">
                    <h3>Son Bloglar</h3>
                    <ul>
                        @foreach (var item in Model.value3)
                        {
                            <li><a href="/Blog/BlogDetails/@item.id">@item.title</a></li>
                        }
                    </ul>
                </div>
                <div class="comments">
                    <h3>Son Yorumlar</h3>
                    <ul>
                        @foreach (var item in Model.value2)
                        {
                            <li><a href="/Blog/BlogDetails/@item.blogId">@item.comment</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>